{% extends "base.html" %}

{% block content %}
<h1>Login: Blogz!</h1>
<p>If you don't have an account, you may <a href ='/signup'>create an account</a>.</p>
<form action="/login" method='POST'>

    <table align="center">
        <tr>
            <td><label for="username">Username</label></td>
            <td><input name="username" type="text" value='{{username}}' /></td>
        </tr>
        
        <tr>
            <td><label for="password">Password</label></td>
            <td><input name="password" type="password" value='{{password}}' /></td>
        </tr>
    </table><br>
    <input type="submit" value="login" />
</form>
{% endblock %}
