{% extends "base.html" %}

{% block content %}
<h1>Register: Blogz!</h1>
<div>
    <p>Already have an account? Then <a href='/login'>Login</a> to creat a new blog</p>
</div>
<form action="/signup" method='POST'>
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td><input name="username" type="text" value='{{username}}' /></td>
        </tr>

        <tr>
            <td><label for="password">Passward</label></td>
            <td><input name="password" type="password" value='{{password}}' /></td>
        </tr>

        <tr>
            <td><label for="verify">Verify Passward</label></td>
            <td><input name="verify" type="password" value='{{verify}}' /></td>
        </tr>
    </table>

    <input type="submit" value="SUBMIT" />
</form>
{% endblock %}